@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <a asp-controller="Home" asp-action="Partial">PartialResult</a>
    <a asp-controller="Home" asp-action="Json">JsonResult</a>
    <a asp-controller="Home" asp-action="Redirect">RedirectResult</a>
    <a asp-controller="Home" asp-action="Content">ContentResult</a>
    <a asp-controller="Home" asp-action="Empty">EmptyResult</a>
    <a asp-controller="Home" asp-action="File">FileResult</a>
    <a asp-controller="Home" asp-action="RedirectRoute">RedirectRouteResult</a>
</div>